/* Adapted from a stylesheet by Tess O'Connor */
/* http://tess.oconnor.cx/ */

/* Undo default HTML styling of some elements */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

dfn {
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
}

/* Basic layout */

body {
  margin: 1.3125em auto 0 auto;
  padding: 0;
  width: 35em;
  max-width: 98%;
  text-align: justify;
  hyphens: auto;
}

p {
  font-size: large;
  margin: 1.3125em 0;
  padding: 0;
}

dt {
  font-size: large;
  margin: 1.3125em 0;
  padding: 0;
}

li {
  font-size: large;
  padding: 0;
}

img {
  padding: 2%;
}

/* Typography */

/*  6pt = 0.375em
 *  7pt = 0.4375em
 *  8pt = 0.5em
 *  9pt = 0.5625em
 * 10pt = 0.625em
 * 11pt = 0.6875em
 * 12pt = 0.75em
 * 14pt = 0.875em
 * 16pt = 1em
 * 18pt = 1.125em
 * 21pt = 1.3125em
 * 24pt = 1.5em
 * 36pt = 2.25em
 * 48pt = 3em
 * 60pt = 3.75em
 * 72pt = 4.5em
 */

body {
  font-family: Palatino, Times, Georgia, serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.625;
}

h1 { font-size: 2.25em;   line-height: 1.167; margin-bottom: .75em}
h2 { font-size: 1.5em;    line-height: 1.75; margin-bottom: .75em}
h3 { font-size: 1.3125em; line-height: 2; margin-bottom: .75em}
h4 { font-size: 1.25em;   line-height: 1.05; }
h5 { font-size: 1.125em;  line-height: 1.167; }
h6 { font-size: 1em;      line-height: 1.3125; }

/* Color */

body {
  color: #000000;
  background-color: #FFFAF0;
}

a:link, a:active, a:hover {
  text-decoration: underline;
  color: #009999;
}

a:visited {
  text-decoration: underline;
  color: #336666;
}

/* Print layout */

@media print {
  body {
    font-size: 10pt;
    font-family: Palatino, Times, Georgia, serif;
    color: #000000;
    background-color: #FFFFFF;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  h2+*, h3+*, h4+*, h5+*, h6+* {
    page-break-before: avoid;
  }
}
