/* Adapted from a stylesheet by Edward O'Connor */
/* http://edward.oconnor.cx/ */

/* Basic layout */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: left;
}
body {
  margin: 1.3125em auto 0 auto;
  padding: 0;
  width: 35em;
  max-width: 98%;
  text-align: justify;
  hyphens: auto;
}

p {
  font-size: large;
  margin: 1.3125em 0;
  padding: 0;
}

li {
  font-size: large;
  padding: 0;
}

/* Typography */

/*  6pt = 0.375em
 *  7pt = 0.4375em
 *  8pt = 0.5em
 *  9pt = 0.5625em
 * 10pt = 0.625em
 * 11pt = 0.6875em
 * 12pt = 0.75em
 * 14pt = 0.875em
 * 16pt = 1em
 * 18pt = 1.125em
 * 21pt = 1.3125em
 * 24pt = 1.5em
 * 36pt = 2.25em
 * 48pt = 3em
 * 60pt = 3.75em
 * 72pt = 4.5em
 */

h1 { font-size: 2.25em;   line-height: 2.25em; }
h2 { font-size: 1.5em;    line-height: 1.5em; margin-bottom: .75em }
h3 { font-size: 1.3125em; line-height: 1.3125em; margin-bottom: .75em}
h4 { font-size: 1.25em;   line-height: 1.25em; }
h5 { font-size: 1.125em;  line-height: 1.125em; }
h6 { font-size: 1em;      line-height: 1em; }

/* Typefaces */

@font-face {
  font-family: Cardo;
  src: url('Cardo104s.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bodoni, Cardo, Bembo, Garamond, Georgia, Times, serif;
  font-weight: normal;
}

body {
  font-family: Cardo, Bembo, Garamond, Georgia, Times, serif;
  font-size: 90%;
  font-weight: 300;
  line-height: 1.625;
}


/* Color */

body {
  color: #000;
  background-color: #ffe;
}

a:link, a:active, a:hover {
  text-decoration: none;
  color: #009999;
}

a:visited {
  text-decoration: underline;
  color: #336666;
}
